@font-face {
    font-family: 'Poppins-light';
    src: url('fonts/Poppins-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf')  format('truetype');
}

body{
    background-color: hsl(280, 13%, 87%);
    color: hsl(223, 10%, 36%);
    font-family: 'Poppins-light', Arial, serif;
    font-weight:300;
}

h1,h2,h3{
    color: 	hsl(281, 26%, 48%);
    font-family: 'Poppins', Arial, serif;
}

h1,h2{
    font-weight:500;
    text-align:center;
}

h1{
    text-decoration: underline;
}

h2{
    letter-spacing: 8px;
    text-transform: uppercase;
}

h3{
    font-weight:300;
}

#introduction{
    font-weight:bold;
}

button{
    background-color: hsl(281, 26%, 48%);
    border: 2px outset #000;
    color:white;
    font-size:20px;
    margin: 5px 0;
    padding: 2px 4px;
}

button:hover{
    background-color: hsl(281, 26%, 60%);
    cursor: pointer;
}

button:active{
    background-color:hsl(223, 10%, 36%);
    border: 2px inset #000;
}